#fashmap

:javascript
  var center = [39, -98]
  var map = L.map('fashmap').setView(center, 5);

  L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=#{@mapbox_key}", {
    accessToken: 'your.mapbox.access.token',
    attribution: "#{@map_attribution}",
    id: 'mapbox.streets',
    maxZoom: 18
  }).addTo(map);

  var color = '#e62626'
  var markers = L.markerClusterGroup();

  for(let locKey in records) {
    var coords = locKey.split("_")
    var latitude = coords[0], longitude = coords[1]

    var fash = L.circle([latitude, longitude], {
      color: color,
      fillColor: color,
      fillOpacity: 0.5,
      radius: 10000
    })

    var marker_text = ''
    for(let memberId in records[locKey]) {
      var br = '<br/>';
      var h = records[locKey][memberId]

      var name = h['name'], title = h['member_title'], email = h['email'], ip = h['ip_address']
      var country = h['country_name'], city = h['city'], zip = h['zip']

      marker_text += name + ' - ' + title + br
      marker_text += email + br + ip + br;
      marker_text += country + ', ' + city + ', ' + zip + br
      marker_text += '-----------------------------' + br
    }
    fash.bindPopup(marker_text).openPopup();
    markers.addLayer(fash);
  }
  map.addLayer(markers);
