!!! 5

%html{ lang: 'en' }
  %head
    %title
      IronMarch Doxx - Approximate Location Map

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

    %link{ rel: 'stylesheet', href: 'css/custom.css' }
    - leaflet_css = 'https://unpkg.com/leaflet@1.5.1/dist/leaflet.css'
    - css_sha = 'sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=='
    %link{ rel: 'stylesheet', href: leaflet_css, integrity: css_sha, crossorigin: '' }

    - leaflet_js = 'https://unpkg.com/leaflet@1.5.1/dist/leaflet.js'
    - js_sha = 'sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=='
    %script{ src: leaflet_js, integrity: js_sha, crossorigin: '' }
    %script{ src: 'js/leaflet.markercluster.js' }
    %link{ rel: 'stylesheet', href: 'css/MarkerCluster.css' }

    %script{ src: 'data.js' }

  %body
    != yield
